#drawpad {
    /*width:280px;*/
    /*height:280px;*/
    margin-top: 30px;
    position: absolute;
    background-color:#FFFFFF;
    border:2px solid;
}

output {
    position: absolute;
    margin-left: 100px;
}

#reset {
    position: absolute;
}

#evaluate {
    margin-left: 50px;
    position: relative;
}